@import "tailwindcss";

body {
  font-family: "Zain", sans-serif;
}

.hero {
  background-image: url("assets/desktopBackground.png");
  border-radius:  20px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1023px) {
  .hero {
    background-image: url("assets/mobileBackground.png");
    background-size: cover;
    background-position: center;
  }
}
